
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(249, 248, 248);
}
a{
    text-decoration: none;
}

button{
    background-color: green;
    padding: 5px 12px 5px 12px;
    border: none;
    color: white;
    border-radius: 5px;
    min-height: 50px;
}

button:hover{
    background-color: rgb(11, 120, 120);
    cursor: pointer;
    transition: 0.7s ease;

}

header{
    /*background-color: white;*/
    /*position: sticky;*/
}

#navbar{

    margin: 5px 4% 5px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}

#navbar img{
    width: 40px;
}

#navbar a{
    color:black;
    margin-right: 10px;
    font-size: 22px;
    transition: 0.7s ease;
    position: relative;
}
#navbar a::after{
    content:"";
    position: absolute;
    background-color: rgb(88, 8, 8);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
#navbar a:hover{
    color:rgb(23, 200, 141);
    
}

#navbar a:hover::after{
    width: 100%;
}
.brandname{
    display: flex;
    align-items: center;
}

#landpage{
    display: flex;
    align-items: center;
    justify-content: center;

}

#landpage1{
    margin:5px 4% 5px 4%;
}

footer{
    background-color: white;
    margin:0px 0px 0px 0px;
    padding: 3%;
}

#footer1{
    display:flex;
    justify-content: space-between;

}
#footer1 ul{
    list-style: none;
    

}

#lastitem{
    display: flex;
    justify-content: space-between;
}




